@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

.card{
    width: 450px;
    border-radius: 10px;
    font-size: .7rem;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

h1>i{
    padding-right: 10px;
}

.author{
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    font-size: 1rem;
}


.next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}